<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--start ahorro-->
    <add key="urlToken_ahorro" value="http://localhost:49999/api/BaerTest" />
    <!--URL API Get Token-->
    <add key="authTK_ahorro" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <!--Header VALUE API Get Token-->
    <add key="nameKey_ahorro" value="Authorization" />
    <!--Header KEY API Get Token-->
    <add key="responseTK_ahorro" value="access_token" />
    <!--Response API Get Token-->
    <!--end ahorro-->

    <!--start blindaje total-->
    <add key="urlToken_bt" value="http://localhost:49999/api/BaerTest" />
    <add key="authTK_bt" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_bt" value="Authorization" />
    <add key="responseTK_bt" value="access_token" />
    <!--end blindaje total-->

    <!--start ciberseguridad/Catalogos-->
    <add key="urlToken_ciber_cat" value="https://gateway-sne-cyber-mx-ins-refdata-marketdata-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/token?client_id=2934b8ba-3ead-417f-aea3-686ef2201f84" />
    <add key="idParam_ciber_cat" value="2934b8ba-3ead-417f-aea3-686ef2201f84" />
    <add key="nameParam_ciber_cat" value="client_id" />
    <add key="responseTK_ciber_cat" value="access_token" />
    <!--end ciberseguridad/Catalogos-->

    <!--start ciberseguridad/Cotizaciones-->
    <add key="urlToken_ciber_cot" value="https://gateway-sne-cyber-mx-ins-salesmktg-fraud-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/token?client_id=c52548c9-a6f3-4a71-9de2-8db2ddd10370" />
    <add key="idParam_ciber_cot" value="c52548c9-a6f3-4a71-9de2-8db2ddd10370" />
    <add key="nameParam_ciber_cot" value="client_id" />
    <add key="responseTK_ciber_cot" value="access_token" />
    <!--end ciberseguridad/Cotizaciones-->

    <!--start ciberseguridad/Cumulos_NegativeFile"-->
    <add key="urlToken_ciber_cum" value="https://gateway-sne-cyber-mx-ins-riskmgmt-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/token?client_id=825541ee-4a1d-4012-b2ea-038be871c016" />
    <add key="idParam_ciber_cum" value="825541ee-4a1d-4012-b2ea-038be871c016" />
    <add key="nameParam_ciber_cum" value="client_id" />
    <add key="responseTK_ciber_cum" value="access_token" />
    <!--end ciberseguridad/Cumulos_NegativeFile-->

    <!--start ciberseguridad/Documentos_Endosos-->
    <add key="urlToken_ciber_doc" value="https://gateway-sne-cyber-mx-ins-policycntadmin-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/token?client_id=7386f20c-3df5-4eb0-a7bf-cbbf9fe3cd93" />
    <add key="idParam_ciber_doc" value="7386f20c-3df5-4eb0-a7bf-cbbf9fe3cd93" />
    <add key="nameParam_ciber_doc" value="client_id" />
    <add key="responseTK_ciber_doc" value="access_token" />
    <!--end ciberseguridad/Documentos_Endosos-->

    <!--start ciberseguridad/RFC-->
    <add key="urlToken_ciber_rfc" value="https://gateway-sne-cyber-mx-ins-custrelmgmt-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/token?client_id=55d1e49d-9778-4b90-bcbf-fbd2701573d6" />
    <add key="idParam_ciber_rfc" value="55d1e49d-9778-4b90-bcbf-fbd2701573d6" />
    <add key="nameParam_ciber_rfc" value="client_id" />
    <add key="responseTK_ciber_rfc" value="access_token" />
    <!--end ciberseguridad/RFC-->

    <!--start fenix-->
    <add key="urlToken_fenix" value="http://localhost:49999/api/BaerTest" />
    <add key="authTK_fenix" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_fenix" value="Authorization" />
    <add key="responseTK_fenix" value="access_token" />
    <!--end fenix-->

    <!--start GMM-->
    <add key="urlToken_gmm" value="http://localhost:49999/api/BaerTest" />
    <add key="authTK_gmm" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_gmm" value="Authorization" />
    <add key="responseTK_gmm" value="access_token" />
    <!--end GMM-->

    <!--start Hogar Protegido-->
    <add key="urlToken_hp" value="http://localhost:49999/api/BaerTest" />
    <add key="authTK_hp" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_hp" value="Authorization" />
    <add key="responseTK_hp" value="access_token" />
    <!--end Hogar Protegido-->

    <!--start No Autos xml soap????-->
    <add key="urlToken_na" value="http://localhost:49999/api/BaerTest" />
    <add key="authTK_na" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_na" value="Authorization" />
    <add key="responseTK_na" value="access_token" />
    <!--end No Autos-->

    <!--Middleware-->
    <add key="url_middleware" value="https://180.181.47.233:1443/DIS/WebSite/api/"/>
    
    <add key="url_desa" value="https://entry-gw-segneurona-mx-integration-facade-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/"/>
    <add key="url_cert" value="https://entry-gw-segneurona-mx-integration-facade-dev.appls.mex01.mex.dev.mx1.paas.cloudcenter.corp/"/>
    <add key="url_pre" value="https://entry-gw-segneurona-mx-integration-facade-pre.appls.cto1.paas.gsnetcloud.corp/"/>
    <add key="url_pro" value="https://entry-gw-segneurona.integrationfacade.mx.corp/"/>
    
    <!--Endpoint Middleware-->
    <add key="endpoint_Middleware_Token" value="/auth/oauth/token"/>
    
    
    <add key="urlToken_middleware" value="https://180.181.47.233:1443/DIS/WebSite/api/Fenix/auth/oauth/token" />
    <add key="authTK_middleware" value="Basic NmM4YmJmYjUtNDJkMi00MTY5LWIzZWUtNWQ1NDkwNjQyMmFmOjU1cyFrSXhpVChSSTkvbmFiK2J0cUBAKHUkYWZ1Pw==" />
    <add key="nameKey_middleware" value="Authorization" />
    <add key="responseTK_middleware" value="access_token" />
    <!--end Middleware-->
        

    <add key="maxRetryReq" value="3" />
    <!--Retry REQUESTS-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
